<section class="section about mt-20" style="height: fit-content;" id="about">
    <div class="row container">
      <div class="col">
        <img src="./img/delivery-guy-2.svg" alt="" />
      </div>
      <div class="col">
        <h2>Take a look at the benefits we offer for you</h2>
        <p>
          Good service means a friendly, welcoming service. A restaurant owner
          should not merely strive to avoid bad service,
        </p>
        <div class="d-grid">
          <div class="card">
            <img src="./img/car-icon.svg" alt="" />
            <h4>Free Home Delivary</h4>
            <span>For all orders over $50</span>
          </div>
          <div class="card">
            <img src="./img/dollar-icon.svg" alt="" />
            <h4>Return & Refund</h4>
            <span>Money Back Guarantee</span>
          </div>
          <div class="card">
            <img src="./img/security-icon.svg" alt="" />
            <h4>Secure Payment</h4>
            <span>100% Secure Payment</span>
          </div>
          <div class="card">
            <img src="./img/time-icon.svg" alt="" />
            <h4>Quality Support</h4>
            <span>Alway Online 24/7</span>
          </div>
        </div>
      </div>
    </div>
  </section>