<section>
    <div class="flex flex-col items-center space-y-2 py-5 my-20">
        <button class="btn btn-warning rounded-pill px-3 w-32" type="button" onclick="window.location.href='/admin/orders'">New Orders</button>
        <button class="btn btn-success rounded-pill px-3 w-32" type="button" onclick="window.location.href='/completedOrders'">Completed Orders</button>
        <button class="btn btn-secondary rounded-pill px-3 w-32" type="button" onclick="window.location.href='/addItem'">Add new item</button>
        <button class="btn btn-info rounded-pill px-3 w-32" type="button">Users details</button>
    </div>      
</section>