<section class="orders light-section mt-20">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4 font-bold ml-4 text-2xl flex justify-center" >All New Orders</h1>
        <div id="orderTableBody">
        </div>
    </div>
</section>