// Colors
$primary:rgb(67, 198, 83);
$primary-hover: #13a81d;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;
$organge:#d8a407;
$lightGreen:#ffffff;

// Transition 
$smooth: all .3s ease-in-out;
$transition: all 0.2s linear